body {
    width: 90%;
    margin: 0 auto;
    overflow-x: hidden;
}

main {
    display: flex;
    overflow-x: auto;
    gap: 20px;
    flex-wrap: nowrap;
}

.lists-container {
    display: flex;
    gap: 20px;
    align-items: start;
}

section {
    min-width: 300px;

}

@media (max-width: 600px) {
    section {
        width: 100%;
    }
}

article:not(:last-child) {
    margin-bottom: 20px;
}

.draggable {
    cursor: move;
}

.drag-element {
    opacity: 0.5;
}

.fake-list {
    opacity: 0.2;
}